.email{
color:#FFFFFF;
text-decoration:none;
}

#email_agence_communication{
background:#FEA610;
color:#FDDDA2;
width:891px;
height:49px;
}
#image_agence_communication{
margin:10px;
}
#presentation_agence_communication{
background:#FBA30B;
color:#FDDDA2;
width:890px;
padding:6px;
}
.footer {
color:#FFFFFF;
text-decoration:none;
}

#entete_communication{
background:#FBA30B;
height:118px;
}
#contenaire{
height:950px;
}
body{
margin:auto;
}